# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
src/database/database.js
src/database/ipAddress.js
src/database/ipAddress.js
src/database/database.js
src/database/images/event/image-1701445710026.jpg
src/database/images/event/image-1701486961168.jpg
src/database/images/event/image-1701487099631.jpg
src/database/images/task/image-1701453385904.jpg
src/database/images/task/image-1701488447523.jpg
src/database/images/organization/image-1701486684910.jpg
src/database/images/product/image-1701529811323.jpg
src/database/images/product/image-1701530235186.jpg
src/database/database.js
src/database/ipAddress.js
src/database/images/product/image-1701536495020.jpg
src/database/images/product/image-1701536949488.jpg
src/database/ipAddress.js
src/database/database.js
src/database/ipAddress.js
src/screens/Partners.js
src/screens/Partners.js
src/screens/PartnerOverview.js
src/database/models/user.js
src/database/ipAddress.js
